*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(DevBack.jpg);
    text-align: center;
    color: red;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
ul {
    list-style-type: none;
}
p{
    font-weight: bold;
}