body{
    background-color: #DAF5FF;
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
ul {
    list-style-type: none;
}
p{
    font-weight: bold;
}
a {
  text-decoration: none;
  color: black;
}
.Sublinhado{
    text-decoration: underline;
}
.name{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.descricao{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.HTML{
    font-size: 24px;
}
.CSS{
    font-size: 22px;
}
.JavaScript{
    font-size: 20px;
}
.React{
    font-size: 18px;
}
.Nodejs{
    font-size: 16px;
}
.SQL{
    font-size: 14px;
}
.Python{
    font-size: 12px;
}
.Equipe{
    font-size: 10px;
}